.news {
    background-color: #222;
    padding: 0 50px;
    overflow: hidden;
}

.news__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news__title {
    color: #fff;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

.news__text {
    color: #ddd;
    font-size: 20px;
    text-align: center;
}

.news__video {
    width: 560px; 
    height: 315px;
}

@media screen and (max-width: 960px) {
    .news__video {
        width: 360px;
        height: 275px;
    }
}